	<social-links>
		<a href="http://twitter.com/decentfilms" class="icon tooltip" title="Follow @DecentFilms on Twitter">
		<i class="fa fa-twitter-square"></i></a>
		<a href="https://www.facebook.com/decentfilms" class="icon tooltip" title="Follow Decent Films on Facebook">
		<i class="fa fa-facebook-square"></i></a>
		<a href="http://decentfilms.com/rss" class="icon tooltip" title="Subscribe to Decent Films via RSS">
		<i class="fa fa-rss-square"></i></a>
		<a href="/support" class="icon tooltip" title="I love Decent Films! How can I help?">
		<i class="fa fa-heart"></i></a>
	</social-links>
